.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    min-height: 40px;
    font-weight: bold;
    font-size: 0.75rem;
    z-index: 3;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tile--set {
    background: #b0b0b033;
}

.text--set {
    filter: blur(3px);
}

@media screen and (max-device-width: 475px), screen and (max-width: 475px) {
    .tile {
        height: 4rem;
        width: 4rem;
        min-height: 41px;
        font-weight: bold;
        font-size: 0.6rem;
    }
}

@media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    .tile {
        height: 3.5rem;
        width: 3.5rem;
        font-weight: bold;
        font-size: 0.5rem;
    }
}
